#container{
    width: 85%;
    margin: auto;
    margin-top: 168px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}
#menuBox{
    width: 20%;
    height: 500px;
    /* border: 1px solid red; */
}
#items{
    /* border: 1px solid blue; */
    width: 78%;
    height: 600px;
    overflow-y: scroll;
    gap:20px;
}
/* #items::-webkit-scrollbar { 
    display: none; 
} */

#bucketBox{
    /* border: 1px solid green; */
    width: 100%;
    display: grid;
    margin-bottom: 70px;
    grid-template-columns: repeat(2,383px);
    grid-template-rows: repeat(auto);
    justify-content: space-evenly;
    height: 800px;
    overflow-y: scroll;
}
#bucketBox>div>div{
    height: 160px;
}
#bucketBox>div>div>h3{
    margin-bottom: 0px;
    font-size: 16px;
}
#bucketBox>div>div>div{
    display: flex;
    margin-bottom: -15px;
}
#bucketBox>div>img{
    width: 100%;
    border-radius: 5px;
}
#menuBox>img{
    width: 52px;
}
#menuBox>h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 13px;
}
#menuBox>a{
    text-decoration: none;
    color: rgb(49, 49, 49);
    display: block;
    margin-bottom: 10px;
}
#search{
    width: 100%;
    height: 70px;
    /* border: solid black; */
    border-bottom: 2px solid black;
    margin-top: 60px;
}
#search>input{
    border-radius: 30px;
    border: 1px solid gray;
    width: 135px;
    height: 18px;
    padding: 7px;
    padding-left: 50px;
    margin-top: 15px;
}
#gray>h2{
    padding: 45px 0px 30px 20px;
    
    font-size: 28px;
}
#gray{
    width: 100%;
    /* border: 1px solid yellow; */
    margin-top: 70px;
    margin-bottom: -10px;
    border-radius: 8px;
    background-color: rgb(248, 248, 250);
}

#bucketBox>div>div>div>p{
    margin-left: 10px;
    font-size: 12px;
}
.AddButton{
    border: 0px;
    width: 180px;
    height: 43px;
    border-radius: 30px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 70px;
    background-color: #E4002B;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#newLuanch{
    /* border: 1px solid green; */
    width: 100%;
    display: grid;
    margin-bottom: 70px;
    grid-template-columns: repeat(3,275px);
    grid-template-rows: repeat(auto);
    justify-content: space-between;
}  
.box{
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box>div{
    /* border: 1px solid red; */
    padding: 0px 20px;
    height: 180px;
}
.box>img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
.box>div>h3{
    margin-bottom: 0px;
    font-size: 16px;
}
.box>div>h3:first-child{
    margin-top: 10px;
}
.box>div>p{
    font-size: 14px;
}
.box>div>div{
    display: flex;
    margin-bottom: -15px;
}
.box>div>div>p{
    margin-left: 10px;
    font-size: 12px;
}
#items>h2{
    margin-top: 40px;
    margin-bottom: 45px;
    font-size: 28px;
}
.AddButton2{
    border: 0px;
    width: 180px;
    height: 43px;
    border-radius: 30px;
    display: block;
    display: flex;
    margin: auto;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #E4002B;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#chickenRolls{
    /* border: 1px solid green; */
    width: 100%;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(3,270px);
    grid-template-rows: repeat(auto);
    justify-content: space-around;
}

#Biryani{
    /* border: 1px solid green; */
    width: 100%;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(3,270px);
    grid-template-rows: repeat(auto);
    justify-content: space-around;
}

#boxMeal{
    /* border: 1px solid green; */
    width: 100%;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(3,270px);
    grid-template-rows: repeat(auto);
    justify-content: space-around;
}

#Burgers{
    /* border: 1px solid green; */
    width: 100%;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(3,270px);
    grid-template-rows: repeat(auto);
    justify-content: space-around;
}

#HomeSpecial{
    /* border: 1px solid green; */
    width: 100%;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(3,270px);
    grid-template-rows: repeat(auto);
    justify-content: space-around;
}

#Snacks{
    /* border: 1px solid green; */
    width: 100%;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(3,270px);
    grid-template-rows: repeat(auto);
    justify-content: space-around;
}

#Beverages{
    /* border: 1px solid green; */
    width: 100%;
    display: grid;
    margin-bottom: 70px;
    grid-template-columns: repeat(3,270px);
    grid-template-rows: repeat(auto);
    justify-content: space-around;
}
#items>div:last-child{
    margin-bottom: 0px;
}
#menuBox>a:focus{
    font-weight: bold;
}
